@import url('https://fonts.cdnfonts.com/css/cartoon-free');

body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}

.scoreBoard {
    display: flex;
    justify-content: space-around;
    font-size: 200%;
}

.gameBoard {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}
.cells {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    font-family: 'CARTOON FREE', sans-serif;
    font-size: 100px;
    color: brown;
}
.cells:hover {
    background-color: rgb(171, 242, 218);
}

